*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --body-color:#e4e9f7;
    --sidebar-color:#fff;
    --primary-color:#189AB4;
    --primary-color-light:#f6f5ff;
    --toggle-color:#ddd;
    --text-color:#05445E;

    --trans-02:all 0.2s ease;
    --trans-03:all 0.3s ease;
    --trans-04:all 0.4s ease;
    --trans-05:all 0.5s ease;
}
body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--trans-05);
}
body.dark{
    --body-color:#18191a;
    --sidebar-color:#242526;
    --primary-color:#3a3b3c;
    --primary-light-color:#3a3b33;
    --text-color:#ccc;
    --toggle-color:#fff;
}
/***** sidebar *****/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
    z-index: 100;
}
.sidebar.close{
    width: 88px;
}
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}
.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--trans-03);
}
.sidebar .text{
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar header{
    position: relative;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .brand{
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}
header .image-text .brand-sub{
    margin-top: -2px;
    font-size: 16px;
    display: block;
}
.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar header .image img{
    width: 60px;
    border-radius: 6px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--trans-05);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu{
    margin-top: 40px;
}
.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    /* padding-left: 10px; */
    transition: var(--trans-05);
}
.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    /* margin-left: 10px; */
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--trans-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--trans-03);
}
.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
.sidebar .menu-bar{
    height: calc(100%-55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--trans-05);
}
.sidebar .menu-bar .mode .dark-light{
    height: 50px;
    width: 60px;
}
.mode .dark-light i{
    position: absolute;
}
.mode .dark-light i.sun{
    opacity: 0;
}
body.dark .mode .dark-light i.sun{
    opacity: 1;
}
body.dark .mode .dark-light i.moon{
    opacity: 0;
}
.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--trans-05);
}
.toggle-switch .switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--trans-04);
}
body.dark .switch::before{
    left: 20px;
}
.home{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: url('../images/furniture.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    transition: var(--trans-05);
}
.home .text{
    font-size: 52px;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
}
#design{
    color: #ee700a;
    margin-left: 10px;
}
.home p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #db700c;
}
